<%- include('../partials/_head') %>

<main class="h-100">
  <div class="row" id="property-data-card" >
    <div class="col" id="data-col">
      <ul id="property-data-list">
        <li class="property-data">City: <%= property.city %></li>
        <li class="property-data">State: <%= property.state %></li>
        <li class="property-data">Zip-code: <%= property.zip %></li>
        <li class="property-data">Price: <%= property.list_price %></li>
        <p class="time-stamp">created: <%= new Date(property.createdAt).toLocaleDateString() %></p>
       
      </ul>


      <div class="property-image-container">
        <img class="show-property" src="<%= property.propertyPicUrl %>"></img>

        <a class="btn-anchor" href="/properties/<%= property._id %>?_method=Delete">
          <button class="btn btn-secondary float-right">Delete</button>
        </a>
  
        <a class="btn-anchor" href="/properties/<%= property._id %>/edit">
          <button class="btn btn-secondary float-right">Edit</button>
        </a>

        <a class="btn-anchor" href="/properties">
          <button class="btn btn-secondary float-right">Back To Properties</button>
        </a>
      </div>

    </div>

    
  </div>
</main>

<%- include('../partials/_footer') %>
