<%- include('../partials/_head') %>

    <main>
      <h1>Show Property Page</h1>

      <h4><%= property.city %></h4>
      <p>created: <%= new Date(property.createdAt).toLocaleDateString() %></p>

      <form
        style="display: inline"
        action="/properties/<%= property._id %>?_method=Delete"
        method="POST"
      >
        <button type="submit">Delete</button>
      </form>

      <a href="/properties/<%= property._id %>/edit">
        <button>Edit</button>
      </a>
    </main>
  
<%- include('../partials/_footer') %>
