<%- include('../partials/_head') %>

<main class="h-100">
  <div class="row" id="property-data-card" >
    <div class="col" id="data-col">
      <ul id="property-data-list">
        <li class="property-data">City: <%= property.city %></li>
        <li class="property-data">State: <%= property.state %></li>
        <li class="property-data">Zip-code: <%= property.zip %></li>
        <li class="property-data">Price: <%= property.list_price %></li>
        <p class="time-stamp">created: <%= new Date(property.createdAt).toLocaleDateString() %></p>
       
      </ul>

        // FIXME - The DOM needs to be updated when property is deleted. The old property is still listed until page is refreshed.
        // A user must refresh the page to clear properties from DOM list
        
      <div class="property-image-container">
        <img class="show-property" src="<%= property.propertyPicUrl %>"></img>
        
        <form
        style="display: inline"
        action="/properties/<%= property._id %>?_method=Delete"
        method="POST"
      >
        <button class="btn btn-secondary float-right" type="submit" >Delete</button>
      </form>

        <a class="btn-anchor" href="/properties/<%= property._id %>/edit">
          <button class="btn btn-secondary float-right" type="submit">Edit</button>
        </a>

        <a class="btn-anchor" href="/properties">
          <button class="btn btn-secondary float-right" type="submit">Back To Properties</button>
        </a>

      </div>
    </div>

    
  </div>
</main>

<%- include('../partials/_footer') %>
